$TTL    86400
@       IN      SOA     ns1.{{ dns_zone_name }}. admin.{{ dns_zone_name }}. (
                        {{ dns_reverse_zone_serial }} ; Serial
                        3600                          ; Refresh
                        1800                          ; Retry
                        604800                        ; Expire
                        86400                         ; Minimum TTL
)

@       IN      NS      ns1.{{ dns_zone_name }}.

{% for record in dns_ptr_records %}
{{ record.ip.split('.')[-1] }}    IN    PTR    {{ record.host }}.
{% endfor %}
